div#n2-ss-0 {
  z-index: 3;
  margin: 0px 0px 0px 0px;
  position: relative;
  text-align: left;
}
[dir="rtl"] div#n2-ss-0 {
  text-align: right;
}
[dir="rtl"] div#n2-ss-0 .n2-ss-slide-background {
  text-align: left;
}
div#n2-ss-0 * {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
div#n2-ss-0 *,
div#n2-ss-0 *:before,
div#n2-ss-0 *:after {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
div#n2-ss-0.n2-ss-load-fade {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
div#n2-ss-0.n2-ss-load-fade.n2-ss-loaded {
  opacity: 1;
  position: relative;
}
div#n2-ss-0 .unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#n2-ss-0.n2notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
div#n2-ss-0 a {
  border: 0;
}
div#n2-ss-0 a,
div#n2-ss-0 a:focus {
  outline: none !important;
  transition: none 0s;
}
div#n2-ss-0 h1,
div#n2-ss-0 h2,
div#n2-ss-0 h3,
div#n2-ss-0 h4,
div#n2-ss-0 h5,
div#n2-ss-0 h6,
div#n2-ss-0 p {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  width: auto;
  border: 0;
  box-shadow: none;
}
div#n2-ss-0 img {
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
}
div#n2-ss-0 ul,
div#n2-ss-0 li,
div#n2-ss-0 img,
div#n2-ss-0 a,
div#n2-ss-0 p,
div#n2-ss-0 ol,
div#n2-ss-0 textarea,
div#n2-ss-0 input,
div#n2-ss-0 button {
  -moz-transition: none 0s;
  -webkit-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;
}
div#n2-ss-0 .n2-ss-slide,
div#n2-ss-0 .n2-ss-canvas {
  position: relative;
}
div#n2-ss-0 .n2-ss-slide,
div#n2-ss-0 .n2-ss-canvas {
  overflow: hidden !important;
}
div#n2-ss-0 .n2-ss-slide-background,
div#n2-ss-0 .n2-ss-slide-background > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#n2-ss-0 .n2-ss-slide .n2-ss-slide-background img {
  max-width: none;
}
div#n2-ss-0 .n2-ss-slide-simple {
  width: 100% !important;
  height: 100% !important;
}
div#n2-ss-0 .n2-ss-slide-stretch {
  width: 100%;
  height: 100%;
}
div#n2-ss-0 .n2-ss-slide-center {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div#n2-ss-0 .n2-ss-slide-tile {
  background-repeat: repeat;
  background-position: 50% 50%;
}
div#n2-ss-0 .n2-ss-slide-fixed {
  background-size: cover;
  background-position: 50% 50%;
}
div#n2-ss-0 .n2-ss-slide-background-video {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
div#n2-ss-0 .n2-ss-slide-background-video.n2-active {
  visibility: visible;
}
div#n2-ss-0 .n2-ss-layers-container {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-0 [onclick].n2-ss-layers-container {
  visibility: visible;
}
div#n2-ss-0 .n2-ss-layers-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
div#n2-ss-0 .n2-ss-layers-container > * {
  visibility: visible;
}
div#n2-ss-0 .n2-ss-layer {
  position: absolute;
  outline: 1px solid RGBA(0,0,0,0);
}
div#n2-ss-0 .n2-ss-layer-parallax,
div#n2-ss-0 .n2-ss-layer-mask,
div#n2-ss-0 .n2-ss-layer-rotation {
  width: 100%;
  height: 100%;
}
div#n2-ss-0 .n2-ss-layer-group {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div#n2-ss-0 .n2-ss-layer-group > * {
  visibility: visible;
}
div#n2-ss-0 .n2-ss-layer-group > .n2-ss-layer-parallax {
  visibility: hidden;
}
div#n2-ss-0 .n2-ss-layer-group > .n2-ss-layer-parallax > * {
  visibility: visible;
}
div#n2-ss-0.n2-ss-mobile .n2-ss-slider-1,
div#n2-ss-0.n2-ss-tablet .n2-ss-slider-1 {
  background-attachment: scroll !important;
}
div#n2-ss-0 .n2-ss-widget {
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1;
  z-index: 12;
  font-size: 16px;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 1;
}
div#n2-ss-0 .n2-ss-widget.n2-ss-widget-hidden {
  opacity: 0 !important;
}
div#n2-ss-0.n2-ss-tablet .n2-ss-widget {
  font-size: 14px;
}
div#n2-ss-0.n2-ss-mobile .n2-ss-widget {
  font-size: 12px;
}
div#n2-ss-0 .n2-ss-tablet,
div#n2-ss-0 .n2-ss-mobile,
div#n2-ss-0.n2-ss-tablet .n2-ss-desktop,
div#n2-ss-0.n2-ss-mobile .n2-ss-desktop {
  display: none;
}
div#n2-ss-0 .n2-ss-desktop,
div#n2-ss-0.n2-ss-desktop .n2-ss-desktop,
div#n2-ss-0.n2-ss-tablet .n2-ss-tablet,
div#n2-ss-0.n2-ss-mobile .n2-ss-mobile {
  display: block;
}
div#n2-ss-0.n2-ss-desktop .n2-ss-widget-display-desktop,
div#n2-ss-0.n2-ss-tablet .n2-ss-widget-display-tablet,
div#n2-ss-0.n2-ss-mobile .n2-ss-widget-display-mobile {
  display: block;
}
div#n2-ss-0 .n2-ss-desktop.n2-ib,
div#n2-ss-0.n2-ss-desktop .n2-ss-desktop.n2-ib,
div#n2-ss-0.n2-ss-tablet .n2-ss-tablet.n2-ib,
div#n2-ss-0.n2-ss-mobile .n2-ss-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-0.n2-ss-desktop .n2-ss-widget-display-desktop.n2-ib,
div#n2-ss-0.n2-ss-tablet .n2-ss-widget-display-tablet.n2-ib,
div#n2-ss-0.n2-ss-mobile .n2-ss-widget-display-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-0 .n2-ss-widget-always {
  -webkit-transform: translate3d(0,0,0);
}
div#n2-ss-0 div.n2-ss-widget-display-hover {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
div#n2-ss-0.n2-hover .n2-ss-widget-display-hover {
  opacity: 1;
}
div#n2-ss-0 .n2-ss-static-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  visibility: hidden;
  display: block;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-0 .n2-ss-static-slide .n2-ss-layer,
div#n2-ss-0 .n2-ss-static-slide > div {
  visibility: visible;
}
div#n2-ss-0 .n2-ss-slide .nextend-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none !important;
  height: auto;
  background: rgba(0,0,0,0.002);
}
div#n2-ss-0 video {
  max-width: none;
}
div#n2-ss-0 iframe {
  max-width: none;
}
div#n2-ss-0 .n2-ss-item-iframe {
  height: 100%;
}
div#n2-ss-0 .n2-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
div#n2-ss-0 .n2-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
div#n2-ss-0 .n2-video-play {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  left: 50%;
  top: 50%;
}
div#n2-ss-0 form {
  margin: 0;
  border: 0;
  padding: 0;
}
div#n2-ss-0 .n2-fake-input,
div#n2-ss-0 input.n2-ow {
  height: auto;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial;
  box-shadow: none;
}
div#n2-ss-0 input.n2-ow:focus {
  outline: 0;
}
div#n2-ss-0 .n2-fake-input,
div#n2-ss-0 input.n2-ow[placeholder] {
  overflow: hidden;
  text-overflow: clip;
}
div#n2-ss-0 ::-moz-placeholder {
  text-overflow: clip;
  color: inherit;
}
div#n2-ss-0 input:-moz-placeholder {
  text-overflow: clip;
  color: inherit;
}
div#n2-ss-0 table {
  table-layout: auto;
  margin: 0;
}
div#n2-ss-0 .n2-ss-thumbnail-type {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  left: 50%;
  top: 50%;
}
div#n2-ss-0 .n2-ss-icon-normal {
  display: inline-block;
}
div#n2-ss-0 .n2-ss-icon-hover,
div#n2-ss-0 .n2-ss-icon-has-hover:HOVER .n2-ss-icon-normal {
  display: none;
}
div#n2-ss-0 .n2-ss-icon-has-hover:HOVER .n2-ss-icon-hover {
  display: inline-block;
}
.n2-clear {
  clear: both;
}
.n2-in-fullscreen * {
  -webkit-animation-name: initial;
  animation-name: initial;
}
.n2-in-fullscreen [data-uk-scrollspy*='uk-animation-']:not([data-uk-scrollspy*='target']) {
  opacity: 1;
}
.n2-ss-align {
  position: relative;
  z-index: 0;
}
div#n2-ss-0 .n2-ss-background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
div#n2-ss-0 .n2-ss-background-animation img {
  max-width: none;
}
div#n2-ss-0 .n2-ss-background-animation .n2-3d-side {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #333;
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-0 .n2-ss-background-animation .n2-ff-3d,
div#n2-ss-0 .n2-ss-background-animation .tile {
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-0 {
  width: 800px;
  height: 534px;
  float: left;
}
html[dir="rtl"] div#n2-ss-0 {
  float: right;
}
div#n2-ss-0 .n2-ss-slider-1 {
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 534px;
  border-style: solid;
  border-width: 0px;
  border-color: #3E3E3E;
  border-color: RGBA(62,62,62,1);
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
div#n2-ss-0 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div#n2-ss-0 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-0 .n2-ss-slider-3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 1px solid transparent;
  z-index: 10;
}
.x-firefox div#n2-ss-0 .n2-ss-slider-2 {
  opacity: 0.99999;
}
div#n2-ss-0 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 534px;
  z-index: 2;
  display: block;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-0 .n2-ss-layers-container {
  position: relative;
  width: 800px;
  height: 534px;
}
div#n2-ss-0 .n2-ss-slide-active {
  z-index: 3;
}
